.div1{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin: auto;

}
.div2 {
    font-family: "Times New Roman", Times, serif;
    width: 1000px;
    height: 300px;
    padding: 50px;
    margin: auto;
}
.div3{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin: auto;
}
.div4{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div5{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div6{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div7{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div8{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div9{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div10{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div11{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div12{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div13{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div14{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div15{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div16{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div17{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div18{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div19{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div20{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div21{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div22{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div23{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div24{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
.div25{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin-right: 150px;
    margin-left: 550px;
}
/* ปก */
.div26{
    font-family: "Times New Roman", Times, serif;
    width:200px;
    margin: auto;

}